<%- include('./partials/head') %>

<a href="/">Back</a>

<h2><%= person.name %></h2>
<h2><%= person.surname %></h2>
<h3> <img src="<%= person.avatar %>" alt=""></h3>
<p>Squad: <%= person.squad_id %>

<%- include('./partials/foot') %>